<%= render :partial => 'leagues/navbar', :locals => {:league => @season.league} %>

<h2><%= @season.name %> - Leaderboard</h2>


<% @leaderboard.user_points.keys.each do |key| %>
  <%= key.email %> - <%= @leaderboard.user_points[key] %><br/>
<% end %>

