<%= render :partial => 'leagues/navbar', :locals => {:league => @league} %>

<h1>Administration</h1>

<p>
<h2>Seasons</h2>
<%= link_to_if have_perm('create_season', @league.id), 
    "Create Season", new_league_season_path(@league) %><br/>

<ul>
  <% @league.seasons.each do |season| %>
    <li><%= link_to season.name, season_path(season) %></li>
  <% end %>
</ul>

<h2>Join Requests</h2>

<p>Outstanding requests to join this league, please approve or deny.</p>

<%= render :partial => 'requests/list', :locals => {:reqs => @join_requests} %>

</p>

