<h1>Leagues</h1>

<table width="100%" cellpadding="5">
  <tr valign="top">
    <th>Name</th>
    <th>Type</th>
    <th>Members</th>
    <th>Registration</th>
  </tr>

<% @leagues.each do |league| %>
  <tr valign="top">
    <td><%= link_to league.name, league%></td>
    <td>TBD</td>
    <td><%= Member.count(:conditions => ["league_id = ?", league.id]) %>
    <td>Open</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a League', new_league_path %>
