<h1>Listing users</h1>

<table width="100%">
  <tr>
    <th>User</th>
    <th>Location</th>
    <th>Accounts</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.location %></td>
    <td><%= user.accounts.collect { |a| a.name }.join(", ") %></td>
  </tr>
<% end %>
</table>

<br />

