<%= render :partial => 'leagues/navbar', :locals => {:league => @league} %>

<h1>Events</h1>

<%= render :partial => 'events/list', :locals => {:events => @events, :league => @league} %>

<br />

<%= link_to 'New Event', new_league_event_path(@league) %>
