<h1>Documentation</h1>

Documentation on how to use the site, and some general guidelines on how to conduct events in GT5. (league admins may wish to do things differently, these are just some guidelines based on best practices we've found so far)

<dl>
  <dt><h2>For Users</h2></dt>
<dd>

<h3>Registering</h3>

To make use of the site you'll need to register an account with a few details, most notably an e-mail address which you will use to login and receive notifications from the site, and your PSN account name. A confirmation email will be sent with a link you can follow to activate your account.<p/>

<h3>Joining a League</h3>

Once registered you can browse the leagues available on the site, or if you like, create your own. <p/>

Leagues may have open membership (where anyone can join), or require the approval of an administrator. Pay close attention to the league description before joining, as this will often contain information relevant to how you will be expected to behave in this leagues events. You may join as many leagues as you like.<p/>

<h3>Registering for Events</h3>

<ol>
  <li>Locate events you would like to participate in by browsing the leagues which you are a member of.</li>
  <li>Pay close attention to the event restrictions as well as the instructions, which may contain additional info. You can use this information to purchase/tune your car and practice prior to the event.</li>
  <li>You will need to click the Register link for events you plan to attend.</li>
  <li>Make sure you have purchased the correct tires before race day, and marked your car as a favorite for use online, if applicable.</li>
  <li>Please be sure to show up if you have registered for an event. Eventually email reminders will be sent prior to the event. If anything changes and you can't make it, you can unregister up until the point when registration closes. It will be up to league admins how to handle missed events. (there may be penalties in the future)</li>
  <li>At some point registration will close and the field will be split into individual races. At this point you can see who you'll be racing against, and race hosts will start to be assigned.</li>
</ol>

<h3>Race Day</h3>

<ol>
  <li>Eventually, your reminder emails will contain details on who has been assigned to host your race. In the meantime this information is available on the event page.</li>
  <li>
      Assuming your league is using open lobbies for races (as opposed to private GT5 lounges which require all participants to be on the host's PSN friends list), there are two ways you can get into the race:
      <ul>
        <li>Via the race ID, which will be posted by the race host on the event page close to race start. (this also may someday arrive via an email notification) Check back on the website as the race approached and use this ID to find the lobby by navigating to GT Life and then Open Lobby.</li>
        <li>If you have the race host on your buddy list, you can navigate to Community, the race host, and look for the yellow "Online" button to follow them in.</li>
      </ul>
  </li>
  <li>In the event of any confusion, lookup the race host on the event page, and send them a private PSN message directly</li>
  <li>Once in the lobby, be sure not to click the "Start Race" button. (some lobbies may allow any user to start the race, still learning what GT5 allows)</li>
  <li>Load up your car, practice or take place in qualification as per your event details, and wait for the race.</li>
  <li>Once the race is complete, if you would like, you can save the replay for validation if there are any issues. Just go to Race Results, Save Replay.</li>
  <li>Race hosts or league admins will eventually enter the race results on the website and points will be assigned.</li>
</ol>
</dd>

<dt><h2>For League Admins</h2></dt>
<dd>
<p>
Create your league, identify it's purpose and expectations clearly in the description. Assign multiple league admins if you need to share the workload, and race hosts to host races and enter results.
</p>

<p>
If you set your league to require join approval, requests can be approved on the administration pages.
</p>

<p>
You will need to group your events into Seasons, each season will have a separate leaderboard, everyone starts fresh each season.
</p>

<p>
Events can be created within a season with a variety of parameters. Anything not coded into the site can be specified in the instructions. Some time before your event is set to occur, you must manually schedule it. (this may be automated in the future) Scheduling the event will close registration, break the field into separate races (if there is more than one race worth of registrants), and allow race hosts to volunteer to host each race. (eventually league admins may be able to manually set the race host.
</p>

<p>
After this it's just a matter of managing disputed and issues in the league and keeping things running smoothly.
</p>
</dd>



<dt><h2>For Race Hosts</h2></dt>
<dd>

Race host is a role that must be granted by a league admin. It will be one of the more demanding aspects of running the league, a laptop is an asset, as is a headset to keep everyone informed what's happening. You'll need a decent connection and to be somewhat technically savy. If you are interested, update the number of racers you can safely host in your details, contact your race admins, and let them know you're interested.<p/>

<ol>
  <li>Once events are scheduled race hosts are assigned for each host.</li>
  <li>Currently race hosts must volunteer. In the future beg emails may be sent, league admins may be able to assign them, though this will require manual coordination to make sure the host can be available.</li>
  <li>Currently race hosts can also participate in the race. This may later be an option for league admins.</li>
  <li>Around a half hour before the race, log on, create a lobby (be sure to specify a comment that informs people this is a league race and not to join), and post the race ID to the event page on the site.</li>
  <li>Be sure to get the settings right as per the event guidelines.</li>
  <li>When race time arrives, clear the fastest lap time (either by changing track, twice if necessary). If qualification is desired participants can now try to put in their lap times.</li>
  <li>Because you are using an open lobby, any stragglers who join before the race who are not on the event list must be removed from the lobby. (go to the pits or lobby screen, select their name, hit triangle to remove them)</li>
  <li>Start the race as close to on time as possible.</li>
  <li>Once the race completes, it is *very* important that you goto Race Results, Save Replay.</li>
  <li>Return to the site and enter the race results for the race you just hosted. The replay can be used if you lose track.</li>
</ol>
</dd>


<dt><h2>Planned Features</h2></dt>
<dd>
<h3>Racing Organizations</h3>

<p>
We plan to add functionality for racing organizations, an object that will encompass and coordinate multiple leagues of different types and skill levels, allowing drivers to earn their way to compete at higher levels. Essentially you will be able to have members start out in a lower level leagues, earn experiences and licences you define, and have those licenses allow you into your various leagues. This feature is obviously somewhat complicated and may be some time in development, but hopefully something simple will be up and running in the coming months.
</p>

<p>Clubs will also allow you to group together various different leagues (for different types of racing perhaps) under the same banner.</p>

<p>
With a little luck we hope to work out a formula for a skill based rating based on results, who you defeat, and who defeats you. This is even more complicated, and thus likely even further away from being implemented. :)
</p>

<h3>Other</h3>

<ul>
  <li>League news feeds.</li>
  <li>Full comments system on events.</li>
  <li>Features to reprimand/ban troublesome users or griefers.</li>
</ul>
</dd>
</dl>
