<h1>Documentation</h1>

<h2>For Users</h2>

<h3>Registering</h3>
<p>
Users first need to register an account on the site. You will need to provide an email address but this will not be shown publically, it is only used internally as your login name and to send race updates and important information to you. You will need to choose a password, specify a Display Name you will be see as throughout the site, and optionally your location. (feel free to be as vague as you like) You must also specify your Playstation Network account name.
</p>

<h3>Joining a League</h3>
<p>
Once registered you can browse the leagues available on the site. Leagues may have open membership (where anyone can join), or require the approval of an administrator. Pay close attention to the league description before joining, as this will often contain information relevant to how you will be expected to behave in this leagues events. You may join as many leagues as you like.
</p>

<h3>Participating in Events</h3>
<p>
Once you have joined a league you can now browse that leagues events (which are organized into seasons). You can register for an event you wish to attend by clicking the appropriate link on the Event page. By no means do you have to attend all events. If you do register for an event, it is important that you show up, as league admins may not appreciate this.
</p>

<p>
Events will be configured with a number of restrictions, pay close attention to these and the instructions as well. You can use this information to choose a car, tune it, and practice during the days leading up to your race. Remember to mark your car as a "Favorite" so it will be available for online play come race day.
</p>

<p>
At some point before the event, league administrators will schedule the event. After this occurs no new registrations will be accepted. Existing registrants will be split into separate races (if necessary, i.e. there are more than one race worth of entrants), and league admins will go about finding a race host to accomodate each race.
</p>


<p>
Sometime before your race you should receive an email to remind you of the details of your race. This will include information about who you are racing against, who is hosting the race, and the various event settings. If this email does not arrive, all of this information is still available on the event page.
</p>

<p>
At least 30 minutes before the race starts you must add the race host to your Playstation Network buddy list. Be sure to briefly note why you are adding them as a friend. If you receive a message about their list being full, please send them a PSN message directly to inform them of this.
</p>

<p>
When race time arrives you should be able to find the race host under Community in Gran Turismo 5. You should see a small yellow icon when they are online, which you can use to follow the host and connect to the race, and choose your car for the race. 
</p>

<p>
If specified, the race host will allow a certain amount of time for free run which will be treated as a qualification session.

<p>
<b>DO NOT</b> click the start race option. The host will do this. Frankly it's insane Gran Turismo lets anyone click this option. :)
</p>

<p>
After an optional qualification time, the host will start the race. Race clean and by the rules defined by your league administrators.
</p>

<p>
Once complete, it is a good idea to click the Race Results button and then the Save Replay button. Keeping an archive of the replay may prove useful if any results are debated. In general however, the race host will be responsible for entering the results of the race, which will be visible back on the website.
</p>

<p>
Once results have been entered, your points will be reflected on the season leaderboard on the website. From here on in it's all eyes on the championship. :)
</p>

<h2>For League Admins</h2>


<p>
Create your league, identify it's purpose and expectations clearly in the description. Assign multiple league admins if you need to share the workload, and race hosts to host races and enter results.
</p>

<p>
If you set your league to require join approval, requests can be approved on the administration pages.
</p>

<p>
You will need to group your events into Seasons, each season will have a separate leaderboard, everyone starts fresh each season.
</p>

<p>
Events can be created within a season with a variety of parameters. Anything not coded into the site can be specified in the instructions. Some time before your event is set to occur, you must manually schedule it. (this may be automated in the future) Scheduling the event will close registration, break the field into separate races (if there is more than one race worth of registrants), and allow race hosts to volunteer to host each race. (eventually league admins may be able to manually set the race host.
</p>

<p>
After this it's just a matter of managing disputed and issues in the league and keeping things running smoothly.
</p>



<h2>For Race Hosts</h2>

<p>
Race hosting is a bit of a tough job, you'll need to be organized and quick on your toes and willing to do a bit of work. You'll also need a solid internet connection. It's good to test out your hosting capabilities to see what you can handle and enter this on your account details page. A mic is also a welcome addition to communicate to all participants what is going on.
</p>

<p>
Not everyone can host races, league administrators must grant this role to your account. If there are problems with your hosting abilities or performance, this role may later be revoked. If you would like to help out in this role, get in touch with your admins and request the role be granted.
</p>

<p>
Be sure to keep at least one race worth of open spots on your PSN buddy list. Race participants will need to add you to their friends list to join.
</p>

<p>
Sign on at least 30 minutes before the race to accept incoming friend requests from race participants.
</p>

<p>
A few minutes before race time you should open your Lounge and configure all the settings defined in the event settings carefully. Be sure to set the race ordering options correctly so those who qualify fastest are at the start of the grid. Try to open the race as close to the start time as possible so nobody can gain extra qualification time by showing up early. Changing to the correct track just at the race time may be an excellent way to do this.
</p>

<p>
A qualification session may be configured, in which case use the free run mode until the time has ellapsed. Ideally the participants will be able to finish the lap they are on when quali time ends but this is ad-hoc for the time being.
</p>

<p>
After the race it is critical that you hit the Race Results button at the bottom of your screen and go to save replay. These replays may be critical in confirming results depending on how your league admins wish to run the league.
</p>

<p>
It is also currently the race hosts responsibility to enter the race results. You can do this from the website by navigating to the event page. Your saved replay can be used as a reference if you've already cleared the data off your screen.
</p>



<h2>Planned Features</h2>

<h3>Clubs</h3>

<p>
We plan to add functionality for Clubs, an organization higher than a league and likely encompassing multiple leagues. Within a Club there will be tools available to classify drivers into skill based divisions, which will entitle them to participate in your clubs various leagues. Essentially you will be able to have club members start out in a lower level leagues, and promote the high achievers allowing them to partake in higher level leagues. This feature is obviously somewhat complicated and may be some time in development, but hopefully something simple will be up and running in the coming months.
</p>

<p>Clubs will also allow you to group together various different leagues (for different types of racing perhaps) under the same banner.</p>

<p>
With a little luck we hope to work out a formula for a skill based rating based on results, who you defeat, and who defeats you. This is even more complicated, and thus likely even further away from being implemented. :)
</p>

<h3>Other</h3>

<ul>
  <li>League news feeds.</li>
  <li>Full comments system on events.</li>
  <li>Features to reprimand/ban troublesome users or griefers.</li>
</ul>
