<%= form.fields_for :accounts do |account_form| %>

  <div class="field">
    <%= account_form.collection_select :platform_id, Platform.all, :id, :name %>
    <%= account_form.text_field :name %>
  </div>

<% end %>
